body {
    font-family: Arial, sans-serif;
    margin: 2;
    padding: 3;
    background-image: url(./backgroundimage.jpg);
  
    
  }
  details{
    color: aquamarine;
  }

  figcaption{
    color: #83ff64;
  }
  header {
    background-color: #1770ff;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  h2{
    color: rgb(10, 226, 237);
    text-decoration: underline;
  }

  h1 {
    margin: 0;
    font-size: 3rem;
  }

  nav {
    background-color: #f2f2f2;
    text-align: center;
    padding: 0.5rem;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav ul li {
    display: inline-block;
    margin-right: 1rem;

  }

  nav ul li a {
    color: #4285f4;
    text-decoration: none;
    transition: 0.6s;
  }

  nav ul li a:hover {
    text-decoration:underline;
    color: rgb(82, 12, 20);
    
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }

  p {
    color: #f2f2f2;
    line-height: 1.5;
    font-size: 1.1rem;
  }
  section#career figure img{
    
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 50%;
  }
 section#Networth figure img{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
 }



  footer {
    background-color: #4285f4;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }

  footer p {
    margin: 0;
    font-size: 0.8rem;
  }
  